body {
background-color: black;
}

.imagen{
position: fixed;
width: 100%;
height: 100%;


}

.imagen img {
max-width: 100%;
}

.text{
color:aliceblue;
font-size: 16px;
width: 50%;
margin-left: 50%;


}
.main {
    display: flex;
    flex-direction: column;
    max-width: 100%;

}

span{
color: transparent;
margin: auto;
font-size: 70px;
-webkit-text-stroke: 2px white;

}

.main span {

  max-width: 100%;
}

/* comineza el efecto de la letras*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

.text-js {
  opacity: 0;
}

.cursor {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  -webkit-animation: flash 0.5s none infinite alternate;
          animation: flash 0.5s none infinite alternate;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.headline {
  color: white;
  font-size: 15px;
  
  
}
.headline h1 {
   max-width: 100%;
    padding-left: 10px;
    margin-left: 350px;
    float: left;
    position: sticky;
}


.textani {
  position: fixed;
}

.textani h1{
max-width: 100%;

}
/* termina el efecto de la letras*/

@media only screen and (max-width: 600px) {
  .imagen {
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .textani h1 {
    display: none;
  }
}

@media only screen and (max-width: 912px) {
  .textani h1 {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .textani h1 {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .main span {
    font-size: 35px;
  }
}